tensorflow==2.12.0
pandas 
dvc
mlflow==2.2.2
notebook==6.5.6
jupyterlab==3.6.8
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML
scipy
Flask
Flask-Cors
gdown
-e .


# use  conda activate kidney310